@import "colors.scss";

.product {
  background-color: $green-light;
  width: 260px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 9px 5px -5px rgba(0, 0, 0, 0.52);
  padding: 10px;
  margin: 20px;
  padding-top: 50px;
  position: relative;

  &__price {
    color: $green;
    border: 1px $green solid;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
